html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0px solid white;
  /* border-radius: 50px; */
}

button:hover {
  /* color: black; */
  background-color: rgba(0, 0, 0, 0);

  border: 10px solid rgb(115, 244, 244);
}

button.minor {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0px solid white;
  font-weight: bold;
}

button.minor:hover {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  border: 0px solid rgb(115, 244, 244);
}

button.escape {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  font-weight: bold;
}

button.escape:hover {
  background-color: rgba(160, 159, 159, 0.5);
  font-weight: bold;
  border: 1px solid rgb(115, 244, 244);
}

button.keyboard {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  font-weight: bold;
}

button.keyboard:hover {
  background-color: rgba(160, 159, 159, 0.5);
  font-weight: bold;
  border: 1px solid rgb(115, 244, 244);
}